page-about {

#music{
    // setting button to circle/round
    .circle{
        position: relative;
        //display:block;
        height: 35px;
         width: 35px;
        border-radius: 50%;
        //border: 1px solid red;
        //align-items: center;
    }
}
}
